{
  "prettier.arrowParens": "always",
  "prettier.bracketSameLine": false,
  "prettier.bracketSpacing": true,
  "prettier.configPath": "",
  "prettier.disableLanguages": [],
  "prettier.documentSelectors": [],
  "prettier.embeddedLanguageFormatting": "auto",
  "prettier.enable": true,
  "prettier.enableDebugLogs": false,
  "prettier.endOfLine": "lf",
  "prettier.experimentalTernaries": false,
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.ignorePath": ".prettierignore",
  "prettier.insertPragma": false,
  "prettier.jsxBracketSameLine": false,
  "prettier.jsxSingleQuote": false,
  "prettier.packageManager": "npm",
  "prettier.prettierPath": "",
  "prettier.printWidth": 80,
  "prettier.proseWrap": "preserve",
  "prettier.quoteProps": "as-needed",
  "prettier.requireConfig": false,
  "prettier.requirePragma": false,
  "prettier.resolveGlobalModules": false,
  "prettier.semi": true,
  "prettier.singleAttributePerLine": false,
  "prettier.singleQuote": false,
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "es5",
  "prettier.useEditorConfig": true,
  "prettier.useTabs": false,
  "prettier.vueIndentScriptAndStyle": false,
  "prettier.withNodeModules": false
}
